.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.debug {
  border: 2px solid red;
}

.debug-bg {
  height: 100px;
}


.example-action-button {
  margin-top: 8px;
  margin-right: 8px;
}


.home-container {
  width: 100%;
}

.mat-tab-link-dotc {
  min-width: 33.3%;
}

.rounded-circle {
  border-radius: 100%;
  height: 100px;
  width: 100px;
}

.rounded-circle-sm {
  border-radius: 100%;
  height: 24px;
  width: 24px;
}

.font-weight-bold {
  font-weight: 500;
}

.font-weight-lighter {
  opacity: 0.5;
}


.profile-nav {
  background: rgba($color: #fbfaf7, $alpha: 1.0);
}


.app-text-lg {
  font-size: 18px !important;
}

.app-text-sm {
  font-size: 14px !important;
}
